aniso8601==1.2.0
bottle==0.12.10
certifi==2022.12.7
cf-deployment-tracker==1.0.3
cffi==1.9.1
click==6.6
cloudant==2.2.0
configparser==3.5.0
couchdbkit==0.6.5
cryptography==1.5.3
dj-database-url==0.4.0
enum34==1.1.6
Flask==0.11.1
Flask-PyMongo==0.4.1
Flask-RESTful==0.3.5
http-parser==0.8.3
idna==2.1
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
ndg-httpsclient==0.4.2
nltk==3.2.1
psycopg2==2.6.1
pyasn1==0.1.9
pycparser==2.17
pymongo==3.3.1
pyodbc==3.0.10
pysolr==3.6.0
python-dotenv==0.6.0
python-utils==2.0.0
requests==2.11.1
restkit==4.2.2
simple-salesforce==0.72.1
socketpool==0.5.3
watson-developer-cloud==0.21.0
whitenoise==2.0.6
xlrd==1.0.0
xlwt==1.1.2
altgraph==0.10.2
apiai==1.0.2
APScheduler==2.1.2
bdist-mpkg==0.5.0
Django==1.9.7
funcsigs==1.0.2
future==0.15.2
futures==3.0.5
gunicorn==19.6.0
macholib==1.5.1
modulegraph==0.10.4
py2app==0.7.3
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
python-telegram-bot==4.2.1
pytz==2013.7
redis==2.10.5
schedule==0.3.2
six==1.4.1
telepot==8.1
tzlocal==1.2.2
urllib3==1.15.1
virtualenv==15.0.2
Werkzeug==0.11.10
xattr==0.6.4
zope.interface==4.1.1